/* BASIC RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COLORS */
:root {
    /* Primary */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    /* Neutral */
    --dark-grayish: hsl(0, 6%, 24%);
    --grayish-blue: hsl(218, 22%, 67%);
}
/* GLOBAL STYLE */
body {
    font-size: 16px;
    font-family: 'Josefin Sans';
}
/* WRAPPER STYLE */
.wrapper {
    display: grid;
    grid-template-columns: 1fr calc(100vh *(610/800));
    grid-template-rows: auto 1fr ;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    /* min-width: 50vw; */
}
/* MAIN STYLE */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
    /* margin: 10rem; */
}
.logo-container {
    grid-row: 1;
    grid-column: 1;
    height: 5vh;
    position: relative;
    z-index: 2;
    margin-left: 10rem;
    margin-top: 10vh;
}
.logo {
    background-image: url(./images/logo.svg:1);
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1;
    grid-column: 1;
    height: 5vh;
    width: 100%;
}
.description {
    display: flex;
    flex-direction: column;
    padding-top: 8vw;
}
.were {
    font-size: 3.6rem;
    font-weight: 300;
    letter-spacing: 1.1rem;
    color: var(--desaturated-red);
}
.coming,
.soon {
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 1.2rem;
}
.promotionnal {
    width: 50%;
    padding-top: 1.5rem;
    color: var(--desaturated-red);
    line-height: 1.7rem;
    font-size: 1rem;
}
.email {
    background-color: transparent;
    width: 100%;
    padding-left: 2rem;
}

.contact {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    border: 1px solid hsl(0, 80%, 86%);
    width: 25rem;
    text-align: center;
    color: var(--grayish-blue);
    margin-top: 8vh;
}
.email {
    display: inline-block;
    position: relative;
    height: 2.9rem;
    border: var(--grayish-blue);
    font-size: 1.1rem;
}
.email::placeholder {
    color: var(--desaturated-red);
    font-family: 'Josefin Sans';
}
.btn {
    position: absolute;
    right: -1px;
    height: 3rem;
    width: 5rem;
    background-image: url(./images/icon-arrow.svg), linear-gradient(45deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
    background-repeat: no-repeat;
    background-position: center;
    border: var(--grayish-blue);
    border-radius: 2rem;
    /* -webkit-box-shadow: 0px 2px 29px 8px rgba(248,191,191,0.49); 
    box-shadow: 0px 2px 29px 8px rgba(248,191,191,0.49); */
    -webkit-box-shadow: -11px 9px 9px -7px rgba(0,0,0,0.32); 
    box-shadow: -11px 9px 29px -7px rgba(0,0,0,0.32);
    transition: all 0.5s ease;
}
.btn:hover {
    opacity: .9;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
input[type="text"]:focus {
    outline: none;
    color: var(--desaturated-red);
    opacity: .7;
}
/* HERO STYLE */
.hero {
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-row: 1 / 3;
    /* max-width: 50vw; */
}

/* MEDIA QUERIES */
/* @media (max-width: 500px), screen and (orientation: portrait) { */
@media screen and (max-width: 700px) {

    .body {
        max-width: 100vw;
        max-height: 100vh;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto calc(100vw * (250 / 375)) 1fr;
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-row: 3 / 3;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        z-index: 1;
        margin: 0;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        margin: auto;
        margin-top: 5vh;
        padding: 0;
    }

    .description {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0;
        padding-left: 8vw;
        padding-right: 8vw;
        width: 100vw;
    }

    .title-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .were {
        font-size: 10vw;
        font-weight: 300;
        letter-spacing: 1.1rem;
        color: var(--desaturated-red);
    }

    .coming,
    .soon {
        font-size: 10vw;
        line-height: 3rem;
        letter-spacing: 1.2rem;
    }
    .promotionnal {
        width: 100%;
        padding-top: 1.5rem;
        color: var(--desaturated-red);
        line-height: 1.7rem;
        font-size: 1rem;
        margin-bottom: 2rem;
    }


    .hero {
        background-image: url(./images/hero-mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        grid-row: 2 / 3;
        min-width: 375px;
    }
    .logo-container {
        grid-row: 1;
        grid-column: 1;
        z-index: 2;
        margin-top: 20px;
        margin-left: 20px;
        height: 7vh;
    }
    .logo {
        
        background-image: url(/images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 3vh;
    }

    .contact {
        display: inline-block;
        position: relative;
        border-radius: 2rem;
        border: 1px solid hsl(0, 80%, 86%);
        text-align: center;
        color: var(--grayish-blue);
        margin: 0;
        padding: 0;
        min-width: 30vw;
        max-width: 80vw;
    }
    .email {
        display: inline-block;
        position: relative;
        height: 2.9rem;
        border: var(--grayish-blue);
        font-size: 1.1rem;
        padding: 0;
        width: 50vw;
    }
    .email::placeholder {
        color: var(--desaturated-red);
        font-family: 'Josefin Sans';
    }
    .btn {
        position: absolute;
        right: -1px;
        height: 3rem;
        background-image: url(./images/icon-arrow.svg), linear-gradient(45deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%));
        background-repeat: no-repeat;
        background-position: center;
        border: var(--grayish-blue);
        border-radius: 2rem;
        /* -webkit-box-shadow: 0px 2px 29px 8px rgba(248,191,191,0.49); 
        box-shadow: 0px 2px 29px 8px rgba(248,191,191,0.49); */
        -webkit-box-shadow: -11px 9px 9px -7px rgba(0,0,0,0.32); 
        box-shadow: -11px 9px 29px -7px rgba(0,0,0,0.32);
        transition: all 0.5s ease;
    }
    .btn:hover {
        opacity: .9;
        transform: scale(1.1, 1.1);
        cursor: pointer;
    }
    input[type="text"]:focus {
        outline: none;
        color: var(--desaturated-red);
    }
}
